body a {
  list-style: none;
  text-decoration: none;
  color: #000;
}



/*----------------------POPUP------------------- */

#up ::-webkit-input-placeholder {
  /* WebKit/Blink browsers */
  color: #777;
  font-size: 15px;
}
#up ::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777;
  font-size: 15px;
}
#up :-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777;
  font-size: 15px;
}
#up  :-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777;
  font-size: 15px;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px; /* Adjust the max-width as needed */
  width: 100%; /* Adjust the width as needed */
}

.buttonstylecont{

  background-color: red;
  width:20px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height:20px
}
.close-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;
  /* position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
   */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.inputnamepop {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #290656;
  border-radius: 5px;
  width: 100%;
}

textarea.inputname {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

button[type='submit'] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.thanks {
  text-align: center;
}


/*----------------------sidestickywhatsapp------------------- */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .side-bars {
      margin-top: -50px;
  }
}
.side-bars .s-bar {
  display: block;
  margin-bottom: 5px;
  position: relative;
  right: 0;
  cursor: pointer;
}
.side-bars {
  width: 255px;
  height: 59px;
  position: fixed;
  top: 50%;
  z-index: 9999;
  margin-top: -230px;
  right: -200px;
  margin-right: 0;
  transition: width 0.7s ease 0s;
}

.side-bars:hover{
  width: 495px;
  transition: width 0.7s ease 0s;
  
}


.side-bars .s-bar {
  display: block;
 
  position: relative;
  right: 0;
  cursor: pointer;
}

.side-bars .s-bar a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 10px 10px 10px 65px;
    background: #210b39;
    
    width: 295px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 4px #000;
    display: block;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  color: #2f0d53;
  -webkit-transition: color 0.7s ease 0s;
  transition: color 0.7s ease 0s;
}

/* .call-spr, .chat-spr {

  width: 55px;
  height: 164px;
  position: absolute;
  top: 0;
  left: 0;
  background: #8c4799;
  background: -moz-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: -webkit-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: linear-gradient(to bottom, #8c4799 0, #2f0d53 100%);
  border-radius: 4px 0 0 4px;
} */

.side-bars .s-bar a h3 {
  color: #fff;
  margin: 0;
  line-height: 25px;
}

.call-spr, .chat-spr {
  
  width: 55px;
  height: 80px;
  padding:10px 10px 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: #8c4799;
  background: -moz-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: -webkit-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: linear-gradient(to bottom, #8c4799 0, #2f0d53 100%);
  border-radius: 4px 0 0 4px;
}







@media only screen and (min-width: 0px) and (max-width: 767px) {
  .side-barss {
      margin-top: 50px;
  }
}
.side-barss .s-barss {
  display: block;
  
  position: relative;
  right: 0;
  cursor: pointer;
}
.side-barss {
  width: 255px;
  height: 59px;
  position: fixed;
  top: 35%;
  z-index: 9999;
  margin-top: -230px;
  right: -200px;
  margin-right: 0;
  transition: width 0.7s ease 0s;
}

.side-barss:hover{
  width: 495px;
  transition: width 0.7s ease 0s;
  
}


.side-barss .s-barss {
  display: block;
 
  position: relative;
  right: 0;
  cursor: pointer;
}

.side-barss .s-barss a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 10px 10px 10px 65px;
    background: #210b39;
    
    width: 295px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 4px #000;
    display: block;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  color: #2f0d53;
  -webkit-transition: color 0.7s ease 0s;
  transition: color 0.7s ease 0s;
}

/* .call-spr, .chat-spr {

  width: 55px;
  height: 164px;
  position: absolute;
  top: 0;
  left: 0;
  background: #8c4799;
  background: -moz-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: -webkit-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: linear-gradient(to bottom, #8c4799 0, #2f0d53 100%);
  border-radius: 4px 0 0 4px;
} */

.side-barss .s-bars a h3 {
  color: #fff;
  margin: 0;
  line-height: 25px;
}

.call-sprs, .chat-sprs {
  
  width: 55px;
  height: 100px;
  padding:20px 10px 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: #8c4799;
  background: -moz-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: -webkit-linear-gradient(top, #8c4799 0, #2f0d53 100%);
  background: linear-gradient(to bottom, #8c4799 0, #2f0d53 100%);
  border-radius: 4px 0 0 4px;
}
/*----------------------banner------------------- */

.header {
  background-color: transparent; /* Initial background color */

  transition: background-color 0.3s ease; /* Smooth transition */
  position: fixed;
  top: 10;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  /* padding-left: 250px;
  padding-right: 250px; */
  z-index: 1000;
}
.tvcontainer {
  padding-top: 200px;
}
.scrolled-text {
  color: #000000 !important;
  white-space: nowrap !important;
}
.colorchange{
  white-space: nowrap !important;

}
.scrolled-icon {
  color: #000000; /* Change to the desired color */
}

.header.scrolled {
  background-color: #eff7ff; /* Background color when scrolled */
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100px;
  z-index: 1000;
  background-color: #ffffff; /* Change to desired background color */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

.sticky .contentw,
.sticky .contentp,
.sticky .arrowstylee {
  color: #000000 !important; /* Change text and icon color to black */
}

#ea_banner {
  background: url(../public/images/ea_banner_bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: auto;
}
.ea_banner-o {
  background: url(../public/images/ea_banner_wall.png);
  background-size: cover;
}

.logo {
  width: 140px;
  height: 100px;
}
.logoscrolled {
  margin-top: 25px;
  width: 140px;
  height: 40px;
}
.contentw {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-left: 30px;
}
.contentwp {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
}
.contentp {
  color: white;
  font-size: 14px;
  font-weight: 100;
  margin-left: 30px;
}
.contact-item {
  padding-right: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
}
#ea_banner .icon {
  /* padding-left: 100px; */

  color: white;
}
#ea_banner .iconww {
  color: white;
}
#ea_banner h6 {
  font-size: 18px !important;
  padding-top: 6px;
  margin-left: 5px;
  color: white;
}

.sliderstyle {
  padding-top: 10px;
  padding-bottom: 40px;
}
.pcimage {
  background: url(../public/images/tablet-frame-1.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.computer-screen {
  width: 380px;
  padding: 150px;
  /* border: 20px solid #000; */

  /* background-color: #000; */
  position: relative;
  overflow: hidden;
}

.screen-content {
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 18px;
  right: 20px;
  overflow: hidden;
  border-radius: 5px;
}

.computer-display {
  width: 100%;
  height: 100%;
  background-color: #5f5df2;
  border-radius: 5px;
  overflow: hidden;
}

.computer-display img {
  width: 100%;
  height: 195px;
  object-fit: cover;
}
#ea_banner .buttonstyle {
  border: 0px;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
#ea_banner .arrowstylee {
  margin-left: 10px;
}

/*----------------------tabsection------------------- */

#tabsection {
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 100px;
}
.widthser {
  width: 350px !important;
  margin-left: 25px;
  height: 45px;
 
  margin-bottom: 20px;
  text-align: center; /* Center the text horizontally */
}

.tab-name {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .tab-name {
    font-size: 12px;
  }
}


.tab {
  cursor: pointer;
}

.active-tab {
  background-color: #777777 !important; /* Background color for selected tab */
  color: #ffffff; /* Text color for selected tab */
  /* Add any additional styles for the active tab */
}

.non-active {
  background-color: black; /* Background color for non-selected tab */
  color: #ffffff; /* Text color for non-selected tab */
  /* Add any additional styles for the non-active tab */
}

.tabiss {
 
  position: relative;
}

.bgimage {
  padding-top: 50dvi;
  padding-bottom: 50dvi;
  margin: 5px;

  background-image: url("../public/images/Mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  position: relative;
  width: 100%;
  margin: 5px;
  height: 300px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.card:hover .content {
  opacity: 1;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Adjust background color and opacity as needed */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.content h2 {
  margin: 0;
  color: white;
  font-size: 15px;
}
.content p {
  margin: 0;
  color: white;
  font-size: 15px;
  font-weight: 700px;
}

/*----------------------bannercout------------------- */

#bannercout {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../public/images/bannercount.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#bannercout h3 {
  color: #ffff;
  text-align: center;
}

.numbers {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

/*----------------------ourserivces------------------- */
#ourserivceses {
  padding-top: 30px;
}
#ourserivceses h1 {
  text-align: center;
}
#ourserivceses h2 {
  color: black;
  display: flex;
  align-items: center; /* Added */
}
.Services {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  text-align: left;
}
#ourserivceses .logo {
  width: 100%;
  height: 500px;
}

.topspace {
  text-align: left;
  margin-top: 50px;
}
.space {
  padding-right: 10px;
}
#ourserivces .link {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  margin-top: 20px;
  position: relative;
  transition: color 0.3s ease-in-out;
}

#ourserivces .link:hover,
#ourserivces:hover .link {
  color: #5f5df2;
}

#ourserivces:hover i {
  color: #5f5df2;
}

/*----------------------client------------------- */

#client {
  height: 380px;
  background-color: rgba(161, 148, 148, 0.21);
}
.clientimg {
  width: 100%;
  height: 380px;

  object-position: -40px;
}
.centerclient {
  padding-top: 150px;
}
/*----------------------whypplwhyppl------------------- */
.hegihtppl {
  height: 50px;
}
.hegihtpbre {
  height: 178px;
}
.hegihtp {
  height: 78px;
}
/* Style for slick dots */
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for individual dot */
.slick-dots li {
  margin: 0 5px;
  list-style: none;
}

/* Style for dot indicator */
.slick-dots li button {
  font-size: 20px;
  color: #999;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Style for active dot */
.slick-dots li.slick-active button {
  color: #333;
  font-weight: bold;
}

#whyppl {
  padding-top: 50px;
  padding-bottom: 50px;
}

#whyppl h1 {
  text-align: center;
}
.heihtt {
  height: 450px;
  background-color: #06d31e;
  margin: 20px;
}
.cardwhy {
  border: 2px solid transparent;

  margin: 3px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.round {
  border-radius: 50px;
  height: 90px;
  width: 90px;
}

/*----------------------contacus------------------- */
#contactus {
  background: url(../public/images/contactbg.jpg);
  background-size: cover;
}
#contactus .container {
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 -30px 60px rgba(0, 0, 0, 0.15);
  padding: 70px 80px;
  position: relative;
  z-index: 1;
}
#contactus .container h2.heading {
  font-size: 50px;
  color: #5f5df2;
}
#contactus .heading {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

#contactus .container h2.heading:after {
  height: 5px;
  bottom: -60;
}

#contactus .heading:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -20px;
  right: 0;

  background: -webkit-linear-gradient(
    left,
    #5f5df2,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  );
}

#contactus:after,
.contacus-section:before {
  content: "";
  display: block;
  position: absolute;
  top: 400px;
  right: 0;
  bottom: 0;
  left: 0;
}
#contactus .container form {
  display: block;
}

#contactus .invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.975em;
  color: #dc3545;
}
#contactus .btn:not(.btn-sm) {
  padding-left: 30px;
  padding-right: 30px;
}
#contactus .btn-primary {
  background: #5f5df2;
  border-color: transparent;
  color: #fff;
}
.color-primary {
  color: #5f5df2;
}
.inputname {
  padding-top: 20px;
  border: 0;
  border-bottom: 1px solid #7777;
  width: 70%;
  margin-top: 20px;
}

.custom-dropdown-input.has-selection {
  background-color: red;
}
.dropdown-options {
  width: 70%;
  border: 2px solid #7777;
}
.selectedservices {
  font-size: 1.147em;
  padding-left: 10px;
}
.selectedservicesed {
  color: #eff7ff;
  font-size: 1.147em;
  padding-left: 10px;
}

::-webkit-input-placeholder {
  /* WebKit/Blink browsers */
  color: #777;
  font-size: 25px;
}
::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777;
  font-size: 25px;
}
:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777;
  font-size: 25px;
}
:-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777;
  font-size: 25px;
}
.form-field.has-validation {
  position: relative;
}
.thanks {
  margin-top: 20px;
  color: #5f5df2;
}
.form-field.has-validation button {
  position: relative;
  bottom: 0px;
  left: 5px;
}

/*----------------------globalpresence------------------- */
#globalpresence {
  padding-top: 50px;
}
#globalpresence h1 {
  text-align: center;
}
.dubai {
  width: 230px;
}
#globalpresence .cardwhy {
  /* background-color:red; */
  width: 270px;
}

.style {
  white-space: nowrap;
}
/*----------------------start media query------------------- */

@media (max-width: 556px) {
  .widthser {
    width: 150px !important;
    margin-left: 3px;
    height: 45px;
   
    margin-bottom: 20px;
    text-align: center; /* Center the text horizontally */
  }
  .logo {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .itemhide {
    display: none;
  }
  .header {
    background-color: transparent; /* Initial background color */

    transition: background-color 0.3s ease; /* Smooth transition */
    position: fixed;
    top: 10;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 1000;
  }
  .item {
    display: none;
  }

  #tabsection .itemdis {
    display: none;
  }
  .contact-item {
    /* padding-right: 40px; */
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #ea_banner h6 {
    margin-left: 4px;

    color: white;
    font-size: 12px;
  }
  /*----------------------bannercout------------------- */
  #bannercout {
    background-image: url(../public/images/bannercount.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #bannercout h3 {
    color: ffff;
    text-align: center;
    font-size: 12px;
    position: relative;
    top: -75px;
  }

  /*----------------------ourserivces------------------- */
  #ourserivceses {
    position: relative;
    top: -95px;
  }
  .mobileno {
    display: none;
  }
  .logoser {
    width: 100%;
    height: 500px;
  }
  #ourserivces .link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin-top: 20px;
    position: relative;
    transition: color 0.3s ease-in-out;
  }

  .Services {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    text-align: left;
  }

  .topspace {
    text-align: left;
  }

  /*----------------------ourserivces-Media------------------ */
  #client {
    text-align: center;
  }
  #client {
    padding-top: 20px;
  }
  .centerclient {
    padding-bottom: 20px;
    padding-top: 30px;
  }

  #client {
    height: 180px;
    background-color: rgba(161, 148, 148, 0.21);
  }

  /*----------------------contactus------------------- */

  #contactus .container h2.heading {
    font-size: 30px;
    color: #5f5df2;
  }

  .inputname {
    padding-top: 20px;
    border: 0;
    border-bottom: 1px solid #7777;
    width: 70%;
    margin-top: 20px;
  }
  ::-webkit-input-placeholder {
    /* WebKit/Blink browsers */
    color: #777;
    font-size: 15px;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777;
    font-size: 15px;
  }
  :-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777;
    font-size: 15px;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777;
    font-size: 15px;
  }

  #globalpresence {
    padding-top: 50px;
  }
  #globalpresence h1 {
    text-align: center;
  }
  .dubai {
    width: 325px;
    height: 180px;
  }
  #globalpresence .cardwhy {
    /* background-color:red; */
    width: 270px;
  }

  .active-tab {
    color: #777777; /* Text color for selected tab */
    font-size: 12px;
    font-weight: 500;
  }
  .non-active {
    color: black;
    font-size: 12px;
    font-weight: 500;
  }
  .mobtabrespo {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }

  #tabsection .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cardwhy {
    background-color: #fffbfb;
    border: 2px solid transparent;
    margin: 3px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  }
}

@media (min-width: 556px) {
 
  #tabsection .itemdissec {
    display: none;
  }
  #client h1 {
    display: none;
  }
  .logo {
    width: 140px;
    height: 100px;
  }

  .contact-item {
    padding-right: 10px;
    flex-direction: row;

    align-items: center;
    justify-content: center;
  }
  #ea_banner h6 {
    margin-left: 4px;
    color: white;
    font-size: 16px;
  }

  /*----------------------bannercout------------------- */
  #bannercout h3 {
    color: ffff;
    text-align: center;
    font-size: 28px;
    position: relative;
    font-weight: 500;
  }
  /*----------------------contactus------------------- */

  #contactus .container h2.heading {
    font-size: 30px;
    color: #5f5df2;
  }
}

@media (max-width: 576px) {

  .header {
    background-color: transparent; /* Initial background color */

    transition: background-color 0.3s ease; /* Smooth transition */
    position: fixed;
    top: 10;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  .contact-item {
    padding-right: 175px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cardwhy {
    background-color: #fffbfb;
    border: 2px solid transparent;
    margin: 3px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cardwhy {
    border: 2px solid transparent;
    margin: 3px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

@media (min-width: 558px) and (max-width: 750px) {
  .widthser {
  
    width: 130px !important;
    margin-right: 2px;
    height: 45px;
    margin-bottom: 20px;
    text-align: center; /* Center the text horizontally */
  }
}
